body,html,p,a,h1,h2,h3,h4,h5,h6,div,header,main,footer,img,canvas,input,textarea {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: rgb(163, 186, 204);
}

header {
  height: 50px;
  background-color: rgb(89, 89, 89);
}

.header_content {
  text-align: center;
  font-size: 28px;
  font-weight: bold;

  padding: 4px;
  margin: 0px;
}

main {
  margin-top: 22%;
  margin-left: 50%;
}

.Click {
  image-rendering: pixelated;
  width: 65px;
  cursor: pointer;
}

