body,html,p,a,h1,h2,h3,h4,h5,h6,div,header,main,footer,img,canvas,input,textarea {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: rgb(163, 186, 204);
}

header {
  height: 50px;
  background-color: rgb(89, 89, 89);
  box-shadow: 0px 0px 20px 0px black;
  text-shadow: 0px 0px 10px black;
}

.header_content {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #13a900;

  padding: 4px;
  margin: 0px;
}

main {
  margin-top: 22%;
  text-align: center;
}

.Click {
  image-rendering: pixelated;
  width: 65px;
  cursor: pointer;
}

.Counter_text, .Counter {
  font-weight: bold;
  font-size: 25px;
}

footer {
  text-align: center;
}

.sidebar {
  background-color: #454545;
  float: left;
  padding: 5px;
}

#upgrade {
  width: 290px;
}

.sidebar_title {
  text-align: center;
  background-color: white;
  margin-left: 45px;
  margin-right: 45px;
}